<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.sirius.model.mapper.TblPurchaseHistoryMapper">

	<insert id="insertCart" parameterType="hashmap">
		INSERT INTO tbl_purchase_history
			(user_id, product_id, product_count, price, destination_id)
		SELECT
			c.user_id, c.product_id, c.product_count, p.price, #{destinationId}
		FROM tbl_cart c
			JOIN mst_product p
			ON c.product_id = p.id
		WHERE c.user_id = #{userId};
	</insert>
	
	<select id="findByUserId" resultType="jp.co.internous.sirius.model.domain.dto.PurchaseHistoryDto">
		SELECT 
			DATE_FORMAT(h.purchased_at, '%Y/%m/%d %T') AS purchased_at,
			p.product_name AS product_name,
			h.price AS price,
			h.product_count AS product_count,
			d.family_name AS family_name,
			d.first_name AS first_name,
			d.address AS address
		FROM tbl_purchase_history h
			JOIN mst_product p
			ON h.product_id = p.id
			JOIN mst_destination d
			ON h.destination_id = d.id
		WHERE h.user_id = #{userId} AND h.status = 1
		ORDER BY purchased_at DESC;
	</select>

</mapper>